themes {
    monochrome {
        text_unselected {
            base 220 220 220
            background 18 18 18
            emphasis_0 120 120 120
            emphasis_1 180 180 180
            emphasis_2 240 240 240
            emphasis_3 80 80 80
        }
        text_selected {
            base 240 240 240
            background 45 45 45
            emphasis_0 150 150 150
            emphasis_1 200 200 200
            emphasis_2 255 255 255
            emphasis_3 100 100 100
        }
        ribbon_selected {
            base 0 0 0
            background 240 240 240
            emphasis_0 80 80 80
            emphasis_1 120 120 120
            emphasis_2 160 160 160
            emphasis_3 40 40 40
        }
        ribbon_unselected {
            base 240 240 240
            background 30 30 30
            emphasis_0 100 100 100
            emphasis_1 200 200 200
            emphasis_2 150 150 150
            emphasis_3 80 80 80
        }
        table_title {
            base 240 240 240
            background 0 0 0
            emphasis_0 150 150 150
            emphasis_1 200 200 200
            emphasis_2 240 240 240
            emphasis_3 100 100 100
        }
        table_cell_selected {
            base 240 240 240
            background 45 45 45
            emphasis_0 150 150 150
            emphasis_1 200 200 200
            emphasis_2 255 255 255
            emphasis_3 100 100 100
        }
        table_cell_unselected {
            base 220 220 220
            background 18 18 18
            emphasis_0 120 120 120
            emphasis_1 180 180 180
            emphasis_2 240 240 240
            emphasis_3 80 80 80
        }
        list_selected {
            base 240 240 240
            background 45 45 45
            emphasis_0 150 150 150
            emphasis_1 200 200 200
            emphasis_2 255 255 255
            emphasis_3 100 100 100
        }
        list_unselected {
            base 220 220 220
            background 18 18 18
            emphasis_0 120 120 120
            emphasis_1 180 180 180
            emphasis_2 240 240 240
            emphasis_3 80 80 80
        }
        frame_selected {
            base 240 240 240
            background 0 0 0
            emphasis_0 150 150 150
            emphasis_1 200 200 200
            emphasis_2 245 245 245
            emphasis_3 0 0 0
        }
        frame_highlight {
            base 255 255 255
            background 0 0 0
            emphasis_0 240 240 240
            emphasis_1 255 255 255
            emphasis_2 255 255 255
            emphasis_3 255 255 255
        }
        exit_code_success {
            base 240 240 240
            background 0 0 0
            emphasis_0 200 200 200
            emphasis_1 0 0 0
            emphasis_2 255 255 255
            emphasis_3 180 180 180
        }
        exit_code_error {
            base 120 120 120
            background 0 0 0
            emphasis_0 80 80 80
            emphasis_1 0 0 0
            emphasis_2 0 0 0
            emphasis_3 0 0 0
        }
        multiplayer_user_colors {
            player_1 240 240 240
            player_2 200 200 200
            player_3 0 0 0
            player_4 180 180 180
            player_5 150 150 150
            player_6 0 0 0
            player_7 120 120 120
            player_8 0 0 0
            player_9 0 0 0
            player_10 0 0 0
        }
    }
}
